{% include 'overall_header.html' %}

<form id="reply_edit" name="reply_edit" method="post">

	<h2>{{ lang('REPLIES_PAGE_EDIT') }}</h2>

	<div class="panel">
		<div class="inner">
			<fieldset>
				{% if S_ERROR %}
					<p class="error">{{ ERROR_MSG }}</p>
				{% endif %}
                
                <dl>
					<dt><label for="additional">{{ lang('REPLIES_FORM_ADDITIONAL') ~ lang('COLON') }}</label><br /><span>{{ lang('REPLIES_FORM_ADDITIONAL_DESC') }}</span></dt>
					<dd>
                        <textarea name="additional" id="additional" cols="10" rows="5">{{ REPLY_ADDITIONAL }}</textarea>
                    </dd>
				</dl>
			</fieldset>
		</div>
	</div>
	<fieldset>
		<dl>
			<dt>&nbsp;</dt>
			<dd><input type="submit" name="submit" id="submit" class="button1" value="{{ lang('SUBMIT') }}" tabindex="2" />&nbsp;
				<input type="reset" name="reset" class="button2" value="{{ lang('RESET') }}" /></dd>
		</dl>
		{{ S_HIDDEN_FIELDS }}
		{{ S_FORM_TOKEN }}
	</fieldset>
</form>

{% include 'overall_footer.html' %}
