{% include 'overall_header.html' %}

<style>

    .bg-green {
        background-color: #e0fcc4;
    }
</style>

<div id="page-body" class="page-body" role="main">
    <div id="p4" class="post has-profile bg2">
        <div class="inner">

            <dl class="postprofile" id="profile4">
                <dt class="has-profile-rank has-avatar">
                    <div class="avatar-container">
                        <a href="../memberlist.php?mode=viewprofile&u={{ REQUEST_AUTHOR_ID }}" class="avatar">{{ REQUEST_AUTHOR_AVATAR }}</a>
                    </div>

                    <a href="../memberlist.php?mode=viewprofile&u={{ REQUEST_AUTHOR_ID }}" style="color: #{{ REQUEST_AUTHOR_COLOR }};"
                        class="username-coloured">{{ REQUEST_AUTHOR }}</a>
                </dt>

                <dd class="profile-rank">{{ REQUEST_AUTHOR_RANK }}</dd>
                <dd class="profile-posts"><strong>{{ lang('REQUESTS_POSTS_MADE') ~ lang('COLON') }}</strong> {{ REQUEST_AUTHOR_POSTS }}</dd>
                <dd><strong>{{ lang('REQUESTS_REQ_MADE') ~ lang('COLON') }}</strong> {{ REQUEST_AUTHOR_REQUESTSMADE }}</dd>
                <dd><strong>{{ lang('REQUESTS_REPL_MADE') ~ lang('COLON') }}</strong> {{ REQUEST_AUTHOR_REPLIESMADE }}</dd>

            </dl>

            <div class="postbody">
                <div id="post_content4">

                    <ul class="post-buttons">
                        <!-- IF REQUEST_CAN_EDIT  and not REQUEST_IS_APPROVED -->
                        <li>
                            <form method="post" name="editRequest" id="editRequest" action="{{ REQUEST_EDIT_URL }}">
                                <button type="submit" title="Edit" class="button button-icon-only">
                                    <i class="icon fa-pencil fa-fw" aria-hidden="true"></i><span
                                        class="sr-only">{{ lang('REQUESTS_EDIT') }}</span>
                                    </button>
                            </form>
                        </li>
                        <!-- ENDIF -->
                    </ul>

                    <h3 class="first"><a href="#p4">{{ REQUEST_TITLE }}</a></h3>

                    <p class="author">
                        <a class="unread" href="#" title="Post">
                            <i class="icon fa-file fa-fw icon-lightgray icon-md" aria-hidden="true"></i><span
                                class="sr-only">Request</span>
                        </a>
                        <span class="responsive-hide">by <strong><a href="#" style="color: #{{ REQUEST_AUTHOR_COLOR }};"
                                    class="username-coloured">{{ REQUEST_AUTHOR}}</a></strong>
                    </p>



                    <div class="content">
                        <strong>{{ lang('REQUESTS_VIEW_TYPE') ~ lang('COLON') }} </strong> {{ REQUEST_TYPE }} </b><br>
                       
                        <br>

                        <strong>{{ lang('REQUESTS_VIEW_WIDTH') ~ lang('COLON') }} </strong> {{ REQUEST_WIDTH }} <br>
                        <strong>{{ lang('REQUESTS_VIEW_HEIGHT') ~ lang('COLON') }} </strong>{{ REQUEST_HEIGHT }} <br>

                        <br>

                        <strong>{{ lang('REQUESTS_VIEW_ADDITIONAL') ~ lang('COLON') }} </strong><br>{{ REQUEST_ADDITIONAL }} <br>
                    </div>
                </div>

            </div>

            <div class="back2top">
                <a href="#top" class="top" title="Top">
                    <i class="icon fa-chevron-circle-up fa-fw icon-gray" aria-hidden="true"></i>
                    <span class="sr-only">Top</span>
                </a>
            </div>

        </div>
    </div>

    <!-- BEGIN reply -->
    <div class="post has-profile bg2 {% if reply.REPLY_STATUS eq 1 %} bg-green{% endif %}">
        <div class="inner">

            <dl class="postprofile" id="profile1">
                <dt class="has-profile-rank has-avatar">
                    <div class="avatar-container">
                        <a href="../memberlist.php?mode=viewprofile&u={{ reply.REPLY_AUTHOR_ID }}" class="avatar">{{ reply.REPLY_AUTHOR_AVATAR }}</a> </div>
                        <a href="../memberlist.php?mode=viewprofile&u={{ reply.REPLY_AUTHOR_ID }}" style="color: #{{ reply.REPLY_AUTHOR_COLOR }};"
                        class="username-coloured">{{ reply.REPLY_AUTHOR}}</a>
                </dt>

                <dd class="profile-rank">{{ reply.REPLY_AUTHOR_RANK }}</dd>
                <dd class="profile-posts"><strong>{{ lang('REQUESTS_POSTS_MADE') ~ lang('COLON') }}</strong> {{ reply.REPLY_AUTHOR_POSTS }}</dd>

                <dd><strong>{{ lang('REQUESTS_REQ_MADE') ~ lang('COLON') }}</strong> {{ reply.REPLY_AUTHOR_REQUESTSMADE }}</dd>
                <dd><strong>{{ lang('REQUESTS_REPL_MADE') ~ lang('COLON') }}</strong> {{ reply.REPLY_AUTHOR_REPLIESMADE }}</dd>

            </dl>

            <div class="postbody">
                <div id="post_content1">

                    <h3 class="first"><a href="#">{{ REQUEST_TITLE }}</a></h3>
                    
                    <!-- IF REQUEST_CAN_EDIT -->
                    <ul class="post-buttons">
                        <!-- IF not REQUEST_IS_APPROVED -->
                        <li>
                            <form method="post" name="approveRequest" id="approveRequest" action="{{ reply.REPLY_URL_APPROVE }}">
                                <button type="submit" title="{{ lang('REQUESTS_APPROVE') }}" class="button button-icon-only">
                                    <i class="icon fa-check fa-fw" aria-hidden="true"></i><span
                                        class="sr-only">{{ lang('REQUESTS_APPROVE') }}</span>
                                    </button>
                            </form>
                        </li>

                        <li>
                            <form method="post" name="modifyReply" id="modifyReply" action="{{ reply.REPLY_URL_EDIT }}">
                                <button type="submit" title="{{ lang('REQUESTS_EDIT') }}" class="button button-icon-only">
                                    <i class="icon fa-pencil fa-fw" aria-hidden="true"></i><span
                                        class="sr-only">{{ lang('REQUESTS_EDIT') }}</span>
                                    </button>
                            </form>
                        </li>
                        <!-- ELSE -->

                        <!-- IF reply.REPLY_STATUS eq 1-->
                        <li>
                            <form method="post" name="disapproveRequest" id="disapproveRequest" action="{{ reply.REPLY_URL_DISAPPROVE }}">
                                <button type="submit" title="{{ lang('REQUESTS_DISAPPROVE') }}" class="button button-icon-only">
                                    <i class="icon fa-times fa-fw" aria-hidden="true"></i><span
                                        class="sr-only">{{ lang('REQUESTS_DISAPPROVE') }}</span>
                                    </button>
                            </form>
                        </li>
                        <!-- ENDIF -->

                        <!-- ENDIF -->
                    </ul>
                    <!-- ENDIF -->

                    <p class="author">
                        <a class="unread" href="#" title="Request">
                            <i class="icon fa-file fa-fw icon-lightgray icon-md" aria-hidden="true"></i><span
                                class="sr-only">Request</span>
                        </a>
                        <span class="responsive-hide">by <strong><a href="#"
                                    style="color: #{{ reply.REPLY_AUTHOR_COLOR }};" class="username-coloured">{{ reply.REPLY_AUTHOR }}</a></strong>
                    </p>



                    <div class="content">{{ reply.REPLY_ADDITIONAL }}</div>

                </div>

            </div>

            <div class="back2top">
                <a href="#top" class="top" title="Top">
                    <i class="icon fa-chevron-circle-up fa-fw icon-gray" aria-hidden="true"></i>
                    <span class="sr-only">Top</span>
                </a>
            </div>

        </div>
    </div>
    <!-- END reply -->

    <hr class="divider">

    {# BBCodes Form #}

    <!-- INCLUDEJS {T_ASSETS_PATH}/javascript/core.js -->

    <!-- IF not REQUEST_IS_APPROVED and not REQUEST_IS_AUTHOR -->
    <div class="panel">
        <div class="inner">
            <h2> Your reply</h2>
            <center>
                <form id="postform" name="postform" method="post">

                    {{ include('posting_buttons.html') }}

                    <textarea name="message" id="message" onselect="storeCaret(this);" onclick="storeCaret(this);"
                        onkeyup="storeCaret(this);" onfocus="initInsertions();" data-bbcode="true"
                        rows="10"></textarea><br>

                    <fieldset class="submit-buttons">
                        <input type="submit" name="submit" id="submit" class="button1" value="{{ lang('SUBMIT') }}"
                            tabindex="2" />&nbsp;
                        {{ S_HIDDEN_FIELDS }}
                        {{ S_FORM_TOKEN }}
                    </fieldset>

                </form>
            </center>
            {# End BBCodes Form #}
        </div>
    </div>
    <!-- ENDIF -->
</div>


{% include 'overall_footer.html' %}
